.custom-timeline .DiagramDetailAlertStep-timeline-item-content {
    display: flex;
    justify-content: space-between;
    color: white;
}

.DiagramDetailAlertStep-timeline-time {
    flex-shrink: 0;
    width: 90px;
    /* 시간 표시 영역의 너비를 조정할 수 있습니다 */
    text-align: left;
    font-size: 11px;
    font-family: 'NanumSquareNeoLight' !important;
}

.DiagramDetailAlertStep-timeline-text {
    flex-grow: 1;
    text-align: right;
    font-family: 'NanumSquareNeo' !important;
    font-size: 12px;
}