/* 기본 스타일 설정 */
.table1,
.table2,
.table3,
.table4 {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden; /* 테이블의 스크롤을 내부에 포함시킵니다 */
}

/* 공통 테이블 셀 스타일 */
.table1 th,
.table1 td,
.table2 th,
.table2 td,
.table3 th,
.table3 td,
.table4 th,
.table4 td {
  padding-left: 15px;
  color: white;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

/* 각 테이블의 헤더 스타일 */
.table1 th,
.table2 th,
.table3 th,
.table4 th {
  padding-bottom: 5px;
  font-size: 14px; /* 기본 폰트 사이즈 */
}

/* 각 테이블의 셀 스타일 */
.table1 td,
.table2 td,
.table3 td,
.table4 td {
  padding-bottom: 10px;
  font-size: 12px; /* 기본 폰트 사이즈 */
}

/* 반응형 폰트 사이즈 조정 */
@media (max-width: 1200px) {
  .table1 th,
  .table1 td,
  .table2 th,
  .table2 td,
  .table3 th,
  .table3 td,
  .table4 th,
  .table4 td {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .table1 th,
  .table1 td,
  .table2 th,
  .table2 td,
  .table3 th,
  .table3 td,
  .table4 th,
  .table4 td {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .table1 th,
  .table1 td,
  .table2 th,
  .table2 td,
  .table3 th,
  .table3 td,
  .table4 th,
  .table4 td {
    font-size: 9px;
  }
}

/* 테이블 스크롤 설정 */
.table-container {
  max-height: 400px; /* 최대 높이를 설정합니다 (필요에 따라 조정) */
  overflow-y: auto; /* 상하 스크롤을 추가합니다 */
}

/* 테이블 셀 색상 설정 */
.L1_Span_str {
  color: #00C700 !important;
  font-weight: bolder;
}

.L2_Span_str {
  color: #FC738A !important;
  font-weight: bolder;
}

.L3_Span_str {
  color: #7696FF !important;
  font-weight: bolder;
}

/* 탭 버튼 스타일 설정 */
.ant-tabs-tab-btn {
  color: #FFFFFF;
}

.ant-tabs-tab-dark {
  color: #fff;
}

.ant-tabs-tab-dark .ant-tabs-tab-btn {
  color: #fff !important;
}
