.ant-tabs-tab-btn {
  color: #FFFFFF;
}

.ant-tabs-tab-dark {
  color: #fff;
}

/* Tabs.css */
.ant-tabs-tab-dark .ant-tabs-tab-btn {
  color: #fff !important;
}

/*분전반 정보*/
.table1 th,
td,
.table2 th,
td,
.table3 th,
td {
  padding-left: 15px;
  font-size: 12px;
  color: white;
}

.table1 th,
.table2 th,
.table3 th {
  padding-bottom: 5px;
}

.table1 td,
.table2 td,
.table3 td {
  padding-bottom: 10px;
}

.L1_Span_str{
  color: #00C700 !important;
  font-weight: bolder;
}
.L2_Span_str{
  color: #FC738A !important;
  font-weight: bolder;
}
.L3_Span_str{
  color: #7696FF !important;
  font-weight: bolder;
}