/* 추이 그래프 내 날짜 선택 input css */
.calendar {
    width: 100%;
    /* 원하는 너비 설정 */
    padding: 4px 6px;
    /* 내부 여백 설정 */
    border: 2px solid #374b68;
    background-color: #263752;
    border-radius: 3px;
    /* 테두리 모서리 둥글게 */
    font-size: 10px;
    /* 글자 크기 설정 */
    color: #ffffff;
    /* 글자 색상 설정 */
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    box-sizing: border-box;
    /* 패딩과 테두리를 포함한 크기 계산 */
    transition: all 0.25s;

    /* 아이콘 스타일 (이 브라우저 기본 스타일을 재정의할 수 없는 경우도 있음) */
    &::-webkit-calendar-picker-indicator {
        color: #ffffff;
        /* 아이콘 색상 설정 */
        font-size: 16px;
        /* 아이콘 크기 설정 */
        padding: 0;
        /* 아이콘의 패딩 설정 */
        margin: 0;
        /* 아이콘의 마진 설정 */
        cursor: pointer;
        /* 커서 스타일 설정 */
    }

    /* 포커스 시 스타일 */
    &:focus {
        border-color: #306b9b;
        /* 포커스 시 테두리 색상 변경 */
    }
}

.OverCurrentTrendCurve_TitlePop_div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px 10px 5px;
    align-items: center;
}


/*추이 그래프 내 select css*/
.selectCss {
    padding: 4px 6px;
    /* 내부 여백 설정 */
    width: 120px;
    border: none;
    background-color: transparent;
    font-size: 12px;
    /* 글자 크기 설정 */
    color: #ffffff;
    /* 글자 색상 설정 */
}


/*추이 그래프 내 input text css*/
.inputText {
    width: 100%;
    /* 원하는 너비 설정 */
    height: 25px;
    /* 원하는 높이 설정 */
    padding: 4px 6px;
    /* 내부 여백 설정 */
    border: 2px solid #374b68;
    background-color: #263752;
    border-radius: 3px;
    /* 테두리 모서리 둥글게 */
    font-size: 12px;
    /* 글자 크기 설정 */
    color: #ffffff;
    /* 글자 색상 설정 */
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    box-sizing: border-box;
    /* 패딩과 테두리를 포함한 크기 계산 */
    transition: all 0.25s;

    /* 포커스 시 스타일 */
    &:focus {
        border-color: #306b9b;
        /* 포커스 시 테두리 색상 변경 */
    }
}

/*추이 그래프 내 버튼 css*/
.buttonInTrend {
    border: 0;
    background: none;
    margin-right: 2%;
    width: 80px;
    height: 28px;
    background-color: #263752;
    border: 2px solid #374b68;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
        border-color: #306b9b;
        /* 포커스 시 테두리 색상 변경 */
    }
}


/*OverCurrentTrendChart 차트 크기*/


.setGraphInfoWrapper {
    position: relative;
    top: -20px;
    color: white;
    align-items: center;

}

.distinguishTitle {
    margin: 0 30px 0 0;
    font-size: 18px;
}

.trendGraphCard {
    position: relative;
    top: -10px;
    width: 100%;
    height: 390px;
}



.linearRegression {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    /* background-color: red; */
}

.OverCurrentTrendCurveMonthLog_Card,
.OverCurrentTrendCurveMonth_LinearRegression_Card,
.OverCurrentTrendCurveDayLog_Card,
.OverCurrentTrendCurveDay_LinearRegression_Card,
.OverCurrentTrendCurveLog_Card,
.OverCurrentTrendCurve_LinearRegression_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    background-color: transparent;
    color: white;
    height: 320px !important;
}

.OverCurrentTrendCurveMonth_Chart_Card,
.OverCurrentTrendCurveDay_Chart_Card,
.OverCurrentTrendCurve_Chart_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    background-color: transparent;
    color: white;
    height: 400px;
}

.OverCurrentTrendCurve_Button {
    background: transparent;
    box-shadow: 0px 0px 15px 2px rgb(15, 25, 45) !important;
    border: none !important;
    height: 35px;
}

/* 화면 크기가 1200px 이하일 때 */
@media (max-width: 1200px) {}

/* 화면 크기가 992px 이하일 때 */
@media (max-width: 992px) {}

/* 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {}

/* 화면 크기가 576px 이하일 때 */
@media (max-width: 576px) {

    .selectCss {
        font-size: 5px !important;
    }

    .buttonInTrend {
        border: 0;
        background: none !important;
        width: 50px;
        height: 28px;
        background-color: #263752;
        border: 2px solid #374b68 !important;
        border-radius: 3px;
        font-size: 12px;
        color: white !important;
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
            border-color: #306b9b;
            /* 포커스 시 테두리 색상 변경 */
        }
    }

    .OverCurrentTrendCurve_Button {
        background: transparent;
        box-shadow: 0px 0px 15px 2px rgb(15, 25, 45) !important;
        border: none !important;
        height: 35px;
        font-size: 5px;
        width: 200px;
        margin-top: 5px;
    }

    .OverCurrentTrendCurve_TitlePop_div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 5px 10px 5px;
        align-items: center;
        flex-direction: column;
    }

    .OverCurrentTrendCurve_LinearRegression_Card,
    .OverCurrentTrendCurveDay_LinearRegression_Card {
        margin-top: 10px;
    }

    .OverCurrentTrendCurve_Chart_Card{
        height: 430px;
    }

    #OverCurrentTrendChart canvas {
        position: relative !important;
        font-size: 10px;
    }

    .popover-content span {
        font-size: 8px;
      }
}