.custom-timeline .timeline-item-content {
    display: flex !important;
    justify-content: space-between !important;
    color: white;
}

.timeline-time {
    flex-shrink: 0;
    width: 80px;
    /* 시간 표시 영역의 너비를 조정할 수 있습니다 */
    text-align: left;
    font-size: 10px;
    font-family: 'NanumSquareNeoLight' !important;
}

.DiagramAlertStep-timeline-text {
    flex-grow: 1;
    font-family: 'NanumSquareNeoLight' !important;
    font-size: 10.5px;
    flex-basis: 100px;
    color: white;
    text-align: left;
}
.DiagramAlertStep_item{
    font-size: 12px;
}

.ant-timeline .ant-timeline-item-head {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f50000;
    border: 3px solid transparent;
    border-radius: 50%;
}

.ant-timeline .ant-timeline-item-head-blue {
    color: #f16d6d !important;
    border-color: #f16d6d !important;
}

.ant-timeline-item-last {
    height: 10px !important;
}

.ant-timeline-item-tail {
    background-color: rgb(255, 192, 192) !important;
}




.timeline-container {
    max-height: 280px;
    overflow-y: auto;
    background: transparent;
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
}

.custom-timeline {
    padding: 10px;
    max-height: inherit;
    /* Inherit max-height from the container */
}





.timeline-text {
    margin-left: 10px;
}