.custom-timeline .timeline-item-content {
    display: flex !important;
    justify-content: space-between !important;
    color: white;
}

.timeline-time {
    flex-shrink: 0;
    width: 80px;
    /* 시간 표시 영역의 너비를 조정할 수 있습니다 */
    text-align: left;
    font-size: 10px;
    font-family: 'NanumSquareNeoLight' !important;
}

.timeline-text {
    flex-grow: 1;
    text-align: right;
    font-family: 'NanumSquareNeoLight' !important;
    font-size: 12px;
}

.ant-timeline .ant-timeline-item-head {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f50000;
    border: 3px solid transparent;
    border-radius: 50%;
}

.ant-timeline .ant-timeline-item-head-blue {
    color: #f16d6d !important;
    border-color: #f16d6d !important;
}

.ant-timeline-item-last{
    height:10px !important;
}

.ant-timeline-item-tail {
    background-color: rgb(255, 192, 192) !important;
}