.connectWrapper {
    display: flex;
    width: 100%;
    height: auto;
    color: black;
    align-items: center;
    & img {
        position: relative;
        width: 80px;
    }
}

.connectWrapper_Parentdiv {
    margin-top: -10px;
    display: block;
    width:100%;
    height:auto;
    position: relative;
    /* left:31px; */
}

.connectWrapper_table {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    height: auto;
}

.ElectricDiagramTable:hover {
    transition: 0.2s ease-out;
    background-color: rgb(177, 177, 177);
    color: rgb(5, 5, 5);
}

.ElectricDiagramTable:not(:hover) {
    transition: 0.2s ease-out;
    color: black !important;
}

.ElectricDiagramTable tr>td {
    font-size: 10.5px;
}

.ElectricDiagramTable {
    position: relative;
    border-collapse: collapse;
    border: 1px solid black;
    width: auto;
    height: 50px;

    & td {
        text-align: center;
        font-size: 0.7em;
        color: black;
        border: 1px solid black;
        padding: 0px;
    }

    & td:first-child {
        width: 90px;
    }

    & td:nth-of-type(2) {
        width: 40px;
    }

    & td:last-child {
        width: 30px;
    }
}

.Diagram_pic_Card {
    background-color: rgb(247, 247, 247);
    position: relative;
    display: block;
    width:100%;
    max-height: 320px;
    padding-left:30px;
    /* overflow-x: auto; */
    overflow-y: auto;
}

.Diagram_pic_Card::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* 스크롤바의 너비 */
}

.Diagram_pic_Card::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: rgb(193, 193, 193);
    /* 스크롤바의 색상 */
    border-radius: 5px;
}

.Diagram_pic_Card::-webkit-scrollbar-track {
    background: rgb(241, 241, 241, 1);
    /* 스크롤바의 색상 */
    border-radius: 10px;

}