/* DiagramInfo.css */
@keyframes flicker {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.DiagramInfoTable_RateOfChange_animate,
.DiagramInfoMinuteTable_RateOfChange_animate {
    animation: flicker 10s ease-in-out;
}

.DiagramInfoMinuteTable-title,
.DiagramInfoMinuteTable,
.DiagramInfoMinuteTable_CurrentValue,
.DiagramInfoMinuteTable_PreviousValue,
.DiagramInfoMinuteTable_DailyMax,
.DiagramInfoMinuteTable_DailyMin,
.DiagramInfoMinuteTable_RateOfChange,
.DiagramInfoMinuteTable_phase {
    padding: 2px !important;
}

.DiagramLogTable-title,
.DiagramLogTable_Time,
.DiagramLogTable_Voltage,
.DiagramLogTable_Current,
.DiagramLogTable_Power,
.DiagramLogTable_PowerFactor,
.DiagramLogTable_ExternalTemperature,
.DiagramLogTable_InternalTemperature,
.DiagramInfoTable-title,
.DiagramInfoTable_category,
.DiagramInfoTable_CurrentValue,
.DiagramInfoTable_PreviousValue,
.DiagramInfoTable_DailyMax,
.DiagramInfoTable_DailyMin,
.DiagramInfoTable_RateOfChange {
    padding: 3px !important;
}

.Diagram_Name {
    font-family: 'NanumSquareNeo' !important;
    font-size: 14px;
    color: white;
    margin-top: -10px;
}

.DiagramInfoMinuteTable_phase div {
    font-weight: bold !important;
}

.DiagramInfoTable_CurrentValue,
.DiagramInfoMinuteTable_CurrentValue {
    color: #FFD700;
}

.DiagramInfoTable_CurrentValue div,
.DiagramInfoTable_PreviousValue div,
.DiagramInfoTable_DailyMax div,
.DiagramInfoTable_DailyMin div,
.DiagramInfoTable_RateOfChange div,
.DiagramInfoMinuteTable_CurrentValue div,
.DiagramInfoMinuteTable_PreviousValue div,
.DiagramInfoMinuteTable_DailyMax div,
.DiagramInfoMinuteTable_DailyMin div,
.DiagramInfoMinuteTable_RateOfChange div,
.DiagramInfoMinuteTable_phase div {
    font-size: 10.5px;
    font-family: 'NanumSquareNeo' !important;
}

.DiagramInfoTable_CurrentValue,
.DiagramInfoTable_PreviousValue,
.DiagramInfoTable_DailyMax,
.DiagramInfoTable_DailyMin,
.DiagramInfoTable_RateOfChange,
.DiagramInfoMinuteTable_CurrentValue,
.DiagramInfoMinuteTable_PreviousValue,
.DiagramInfoMinuteTable_DailyMax,
.DiagramInfoMinuteTable_DailyMin,
.DiagramInfoMinuteTable_RateOfChange,
.DiagramInfoMinuteTable_phase {
    text-align: center !important;
    font-family: 'NanumSquareNeoBold' !important;
    font-size: 12px;
}


.DiagramInfoTable_RateOfChange div {
    font-family: 'NanumSquareNeoBold' !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
    text-align: center !important;
    font-family: 'NanumSquareNeoLight' !important;
    font-weight: lighter !important;
}


.DiagramInfoTable {
    margin-top: 15px;
}


.ant-table-cell.ant-table-cell-row-hover {
    background: rgb(78, 112, 167) !important;
    color: #e9e9e9;
}

.ant-table-cell.ant-table-cell-row-hover {
    background: rgb(78, 112, 167) !important;
    color: #e9e9e9;
}

.ant-table-cell {
    background: transparent !important;
    color: #fff;
}

.DiagramInfoTable-thead-row th {
    color: rgb(189, 189, 189) !important;
}

.ant-table {
    background: none !important;
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    border-bottom: none !important;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
    border-bottom: none !important;
}


.DiagramInfo_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    margin-top: 10px;
    background-color: rgb(38, 55, 82);
    color: white;
    height: 900px;
}



.DiagramInfoTable-table .ant-table {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
}


.Diagram_V_Card,
.Diagram_A_Card,
.Diagram_W_Card,
.Diagram_WVA_Card,
.Diagram_OutDeg_Card,
.Diagram_InnerDeg_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    margin-top: 10px;
    background-color: rgb(38, 55, 82);
    color: white;
    height: 240px;
}

.Diagram_V_Card_Title,
.Diagram_A_Card_Title,
.Diagram_W_Card_Title,
.Diagram_WVA_Card_Title,
.Diagram_OutDeg_Card_Title,
.Diagram_InnerDeg_Card_Title {
    color: White;
    font-family: 'NanumSquareNeo' !important;
    font-size: 14px;
    font-weight: 100;
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.Diagram_icon_InnerDeg,
.Diagram_icon_OutDeg,
.Diagram_icon_WVA,
.Diagram_icon_W,
.Diagram_icon_A,
.Diagram_icon_V {
    margin-right: 5px;
    font-size: 20px;
}



.Diagram_V_Chart_Card,
.Diagram_A_Chart_Card,
.Diagram_W_Chart_Card,
.Diagram_WVA_Chart_Card,
.Diagram_OutDeg_Chart_Card,
.Diagram_InnerDeg_Chart_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    margin-top: 10px;
    background-color: rgb(38, 55, 82);
    color: white;
    height: 170px;
    padding: 5px !important;
}

.Diagram_icon_InnerDeg {
    color: #FF69B4;
}

.Diagram_icon_OutDeg {
    color: #7CFC00;
}

.Diagram_icon_WVA {
    color:
        #00BFFF;
}

.Diagram_icon_W {
    color:
        #9370DB;
}

.Diagram_icon_A {
    color:
        #FFD700;
}

.Diagram_icon_V {
    color:
        #FF6B6B;
}

.ant-timeline-item-tail {
    background-color: rgb(255, 192, 192) !important;
}

.ant-timeline .ant-timeline-item-content {
    position: relative;
    inset-block-start: -5px !important;
    margin-inline-start: 26px;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    word-break: break-word;
}

.ant-timeline .ant-timeline-item {
    margin-bottom: -7px !important;
}

.ant-timeline .ant-timeline-item-head-blue {
    color: #f16d6d !important;
    border-color: #f16d6d !important;
}

.ant-timeline .ant-timeline-item-head {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f50000;
    border: 3px solid transparent;
    border-radius: 50%;
}

/********************************************* DiagramDetail *********************************************/
.DiagramDetail_V_Chart_Card,
.DiagramDetail_A_Chart_Card,
.DiagramDetail_W_Chart_Card,
.DiagramDetail_WVA_Chart_Card,
.DiagramDetail_OutDeg_Chart_Card,
.DiagramDetail_InnerDeg_Chart_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    background-color: rgb(38, 55, 82);
    color: white;
    height: 400px !important;
}

.DiagramDetail_V_DiagramDetailLog_Card,
.DiagramDetail_A_DiagramDetailLog_Card{
    background: transparent;
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.02);
    border: none;
}





.DiagramDetailVWTable_CurrentValue,
.DiagramInfoMinuteTable_CurrentValue,
.DiagramInfoOtherTable_CurrentValue {
    color: #FFD700;
}

.DiagramInfoOtherTable_CurrentValue div,
.DiagramInfoOtherTable_PreviousValue div,
.DiagramInfoOtherTable_DailyMax div,
.DiagramInfoOtherTable_DailyMin div,
.DiagramInfoOtherTable_RateOfChange div,
.DiagramDetailVWTable_CurrentValue div,
.DiagramDetailVWTable_PreviousValue div,
.DiagramDetailVWTable_DailyMax div,
.DiagramDetailVWTable_DailyMin div,
.DiagramDetailVWTable_RateOfChange div,
.DiagramDetailVWTable_phase div {
    font-size: 12px;
}

.DiagramInfoOtherTable_CurrentValue,
.DiagramInfoOtherTable_PreviousValue,
.DiagramInfoOtherTable_DailyMax,
.DiagramInfoOtherTable_DailyMin,
.DiagramInfoOtherTable_RateOfChange,
.DiagramDetailVWTable_CurrentValue,
.DiagramDetailVWTable_PreviousValue,
.DiagramDetailVWTable_DailyMax,
.DiagramDetailVWTable_DailyMin,
.DiagramDetailVWTable_RateOfChange,
.DiagramDetailVWTable_phase {
    text-align: center !important;
    font-size: 13px;
}


.DiagramInfoOtherTable_RateOfChange div {
    font-family: 'NanumSquareNeoBold' !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
    text-align: center !important;
    font-family: 'NanumSquareNeoBold' !important;
}

.DiagramInfoOtherTable_RateOfChange_animate,
.DiagramDetailVWTable_RateOfChange_animate {
    animation: flicker 10s ease-in-out;
}

.DiagramDetail_V_RSTChart_Card,
.DiagramDetail_A_RSTChart_Card{
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    background-color: rgb(38, 55, 82);
    color: white;
    height: 237px !important;
}
