.DiagramLogTable-title,
.DiagramLogTable_Time,
.DiagramLogTable_Voltage,
.DiagramLogTable_Current,
.DiagramLogTable_Power,
.DiagramLogTable_PowerFactor,
.DiagramLogTable_ExternalTemperature,
.DiagramLogTable_InternalTemperature,
.DiagramInfoTable-title,
.DiagramInfoTable_category,
.DiagramInfoTable_CurrentValue,
.DiagramInfoTable_PreviousValue,
.DiagramInfoTable_DailyMax,
.DiagramInfoTable_DailyMin,
.DiagramInfoTable_RateOfChange {
    font-size: 12px;
    padding: 5px 5px 5px 5px !important;
}

.ant-table-cell.ant-table-cell-row-hover {
    background: rgb(78, 112, 167) !important;
    color: #e9e9e9;
}

.ant-table-cell.ant-table-cell-row-hover {
    background: rgb(78, 112, 167) !important;
    color: #e9e9e9;
}

.ant-table-cell {
    background: rgb(31, 45, 68) !important;
    color: #fff;
}

.DiagramInfoTable-thead-row th {
    color: rgb(189, 189, 189) !important;
}

.ant-table {
    background: none !important;
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    border-bottom: none !important;
}

.DiagramInfo_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    margin-top: 10px;
    background-color: rgb(38, 55, 82);
    color: white;
}

.DiagramInfo_Chart {
    margin-bottom: 150px !important;
}

.DiagramInfoTable-table .ant-table {
    border: none;
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
}

.DiagramLogTable-table .ant-table {
    border: none;
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
}

#DiagramInfoChart canvas {
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
}

.Diagram_V_Card,
.Diagram_A_Card,
.Diagram_W_Card,
.Diagram_WVA_Card,
.Diagram_OutDeg_Card,
.Diagram_InnerDeg_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    margin-top: 10px;
    background-color: rgb(38, 55, 82);
    color: white;
    height: 290px;
}

.Diagram_V_Card_Title,
.Diagram_A_Card_Title,
.Diagram_W_Card_Title,
.Diagram_WVA_Card_Title,
.Diagram_OutDeg_Card_Title,
.Diagram_InnerDeg_Card_Title {
    color: White;
    font-family: 'NanumSquareNeo' !important;
    font-size: 15px;
    font-weight: 100;
}