/* App.css */
.ant-table-cell.ant-table-cell-row-hover {
    background: rgb(78, 112, 167) !important;

    /* 다크 모드 배경 색상 */
    color: #e9e9e9;
}

.ant-table-cell.ant-table-cell-row-hover {
    background: rgb(78, 112, 167) !important;

    /* 다크 모드 배경 색상 */
    color: #e9e9e9;}

.ant-table-cell {
    background: rgb(31, 45, 68) !important;
    /* 다크 모드 배경 색상 */
    color: #fff;
    /* 다크 모드 텍스트 색상 */
}

.DiagramInfoTable-thead-row th {
    color: rgb(189, 189, 189) !important;
}

.ant-table {
    background: none !important;
    border: 1px solid lightgray;
    border-bottom: none !important;
}

.ant-pagination-item-link {
    color: white !important;
}

.ant-table-thead th {
    text-align: center !important;
    font-size: 11.5px !important;
}

.ant-table-cell {
    padding: 4px 4px !important;
    font-size: 11px !important;
    text-align: center;

}