/*************************************************** 전체 폰트 설정 ***************************************************/
* {
    font-family: 'NanumSquareNeoBold'
        /*font-family: 'NanumSquareNeoLight';
    font-family: 'NanumSquareNeo';
    font-family: 'NanumSquareNeoExtraBold';
    font-family: 'NanumSquareNeoHeavy';
    */

}

/*************************************************** 전체 폰트 설정 ****************************************************/


/*************************************************** 헤더 (최상단) ****************************************************/
.app-header {
    background: rgb(31, 45, 68);
    height: 50px;
}

/*************************************************** 헤더 (최상단) ****************************************************/


/*************************************************** 사이드바  ****************************************************/
.ant-layout-sider,
.ant-menu {
    /* background: #ebebeb !important;*/
    background-color: rgb(31, 45, 68) !important;
}

/*************************************************** 사이드바  ****************************************************/


/*************************************************** 컨텐츠 (메인화면) ************************************************/
.Card1-Title,
.Card2-Title,
.Card3-Title {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 12.5px;
    margin-top: -5px;
}

.app-Content {
    margin: 0 16px;
    padding: 10px 0 10px 0;
}

.ant-card-body {
    background: transparent !important;
    padding: 20px !important;
}



.Main-Top-Info-Row {
    width: auto;
}

.Main-Top-Info-Card {
    box-shadow: 0px -2px 10px 5px rgb(22, 42, 69) !important;

}

.Main-Top-Info1,
.Main-Top-Info2,
.Main-Top-Info3,
.Main-Top-Info4 {
    height: 40px;
    display: flex;
}

.Main-Top-Info1-Col1,
.Main-Top-Info2-Col1,
.Main-Top-Info3-Col1,
.Main-Top-Info4-Col1 {
    height: 100%;
    padding-left: 10px !important;
}

.Main-Top-Info1-span,
.Main-Top-Info2-span,
.Main-Top-Info3-span,
.Main-Top-Info4-span {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 15px !important;
}

.Main-Top-Info1-p,
.Main-Top-Info2-p,
.Main-Top-Info3-p,
.Main-Top-Info4-p {
    font-size: 13px;
    font-family: 'NanumSquareNeo';
    margin-top: 0;
}


.Main-Top-Info1-h1,
.Main-Top-Info2-h1,
.Main-Top-Info3-h1,
.Main-Top-Info4-h1 {
    font-size: 24px;
}

/* 화면 크기가 1200px 이하일 때 */
@media (max-width: 1200px) {

    .Main-Top-Info1-span,
    .Main-Top-Info2-span,
    .Main-Top-Info3-span,
    .Main-Top-Info4-span {
        font-size: 14px;
        /* 줄어든 폰트 사이즈 */
    }

    .Main-Top-Info1-p,
    .Main-Top-Info2-p,
    .Main-Top-Info3-p,
    .Main-Top-Info4-p {
        font-size: 12px;
        /* 줄어든 폰트 사이즈 */
    }

    .Main-Top-Info1-h1,
    .Main-Top-Info2-h1,
    .Main-Top-Info3-h1,
    .Main-Top-Info4-h1 {
        font-size: 10px;
        /* 줄어든 폰트 사이즈 */
    }
}

/* 화면 크기가 992px 이하일 때 */
@media (max-width: 992px) {

    .Main-Top-Info1-span,
    .Main-Top-Info2-span,
    .Main-Top-Info3-span,
    .Main-Top-Info4-span {
        font-size: 12px;
    }

    .Main-Top-Info1-p,
    .Main-Top-Info2-p,
    .Main-Top-Info3-p,
    .Main-Top-Info4-p {
        font-size: 10px;
    }

    .Main-Top-Info1-h1,
    .Main-Top-Info2-h1,
    .Main-Top-Info3-h1,
    .Main-Top-Info4-h1 {
        font-size: 10px;
        font-family: 'NanumSquareNeo' !important;

    }
}

/* 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {

    .Main-Top-Info1-span,
    .Main-Top-Info2-span,
    .Main-Top-Info3-span,
    .Main-Top-Info4-span {
        font-size: 9px;
    }

    .Main-Top-Info1-p,
    .Main-Top-Info2-p,
    .Main-Top-Info3-p,
    .Main-Top-Info4-p {
        font-size: 11px;
    }

    .Main-Top-Info1-h1,
    .Main-Top-Info2-h1,
    .Main-Top-Info3-h1,
    .Main-Top-Info4-h1 {
        font-size: 19px;
        font-family: 'NanumSquareNeo' !important;

    }
}

/* 화면 크기가 576px 이하일 때 */
@media (max-width: 576px) {

    .Card2 {
        margin-top: 10px;
    }

    .Card3-top {
        margin-top: 10px;
    }

    .Card5 {
        margin-top: 10px;
    }

    .Main-Bottom-Content2{
        height: 250px !important;
    }

    .Main-Top-Info1-span,
    .Main-Top-Info2-span,
    .Main-Top-Info3-span,
    .Main-Top-Info4-span {
        font-size: 12px !important;
    }

    .Main-Top-Info1-p,
    .Main-Top-Info2-p,
    .Main-Top-Info3-p,
    .Main-Top-Info4-p {
        font-size: 10px;
    }

    .Main-Top-Info1-h1,
    .Main-Top-Info2-h1,
    .Main-Top-Info3-h1,
    .Main-Top-Info4-h1 {
        font-size: 13.5px;
        font-family: 'NanumSquareNeo' !important;
    }

    .Main-Top-Info3,
    .Main-Top-Info4 {
        margin-top: 10px !important;
    }
}


.Main-Top-Info1-h1 {
    color: #667EFE !important;
}

.Main-Top-Info2-h1 {
    color: #FDC06E !important;
}

.Main-Top-Info3-h1 {
    color: #FC3EA5 !important;
}

.Main-Top-Info4-h1 {
    color: #72D1C8 !important;
}

.Main-Center-Content3-Col {
    height: 145px;
}


.Card1,
.Card2,
.Card3,
.Card4,
.Card5 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
}


.Main-Top-Info1-Col2,
.Main-Top-Info2-Col2,
.Main-Top-Info3-Col2,
.Main-Top-Info4-Col2 {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px !important;
}

.Main-Center-Content-Row {
    padding-top: 10px;
}


.Main-Center-Content1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Center-Content1,
.Main-Center-Content2,
.Main-Center-Content3 {
    height: 470px;
}

.Main-Bottom-Content-Row {
    padding-top: 10px;
}

.Main-Bottom-Content1,
.Main-Bottom-Content2 {
    height: 380px ;
    max-height: 100% !important;
    overflow-y: auto;
}


.Card3-top,
.Card3-middle,
.Card3-bottom {
    height: 150px !important;
    box-shadow: 0px -2px 10px 2px rgb(22, 42, 69) !important;
}

.card-container {
    margin-bottom: 10px;
    /* 원하는 여백 크기로 변경 가능 */
}


span {
    display: flex;
    align-items: center;
}

span p {
    margin: 5px 0 0 5px;
    /* 필요에 따라 간격 조정 */
}

.Card1-grid-Percent-value {
    color: #FC323C !important;
}

.Card2-grid-Percent-value {
    color: #7696ff !important;

}

.Card1-grid-Percent-text,
.Card2-grid-Percent-text,
.Card3-grid-Percent-text,
.Card1-grid-Percent-value,
.Card2-grid-Percent-value,
.Card3-grid-Percent-value {
    font-size: 21px;
    font-family: 'NanumSquareNeoBold';
}


.Card1-grid-Title-text,
.Card2-grid-Title-text {
    font-size: 14px;
    margin-top: 10px;
}

.Card1-grid-SubTitle-text,
.Card2-grid-SubTitle-text {
    font-size: 15px;
}

.Card1-grid-Percent-Near-text,
.Card2-grid-Percent-Near-text,
.Card3-grid-Percent-Near-text {
    font-size: 17px;
    margin-left: 5px
}

.Card3-grid-L1-text,
.Card3-grid-L2-text,
.Card3-grid-L3-text {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 15px;
    margin-bottom: 5px;
}

.Card3-grid-L1-text {
    color: #00C700 !important;
}

.Card3-grid-L2-text {
    color: #FC738A !important;
}

.Card3-grid-L3-text {
    color: #7696ff !important;
}


.Card3-grid-L1-subtext,
.Card3-grid-L2-subtext,
.Card3-grid-L3-subtext {
    margin-bottom: 10px;
    font-size: 15px;
}

/*************************************************** 컨텐츠 (메인화면) *************************************************/





/*************************************************** 푸터 (최하단) ****************************************************/
.app-footer {
    text-align: center;
    background: rgb(31, 45, 68);
    color: white;
    height: 45px;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


/*************************************************** 푸터 (최하단) ****************************************************/



/*************************************************** 컴포넌트들  ****************************************************/
.ant-menu-item,
.ant-menu-submenu,
.ant-tabs-tab {
    font-size: 12.5px !important;
}

.ant-select-selector,
.ant-select-arrow,
.thermometer ul.thermometer__statistics li {
    color: white !important;
}

.text-dark {
    color: #ffffff;
}

.text-light {
    /*color: #000000;*/
    color: #ffffff
}

.bg-dark {
    background-color: rgb(38, 55, 82);
}

.bg-light {
    /* background-color: #ebebeb;*/
    background-color: rgb(38, 55, 82);
}

/* 다크 모드일 때 ant-tabs-tab 스타일 */


.ant-layout {
    background-color: rgb(38, 55, 82);
}

/*************************************************** 컴포넌트들  ****************************************************/
.thermometer__percent-current {
    color: black !important;
    font-weight: bolder;
}

.ant-layout-sider-trigger {
    background-color: rgb(38, 55, 82) !important;
}

.ant-select-selector,
.ant-select-selection-search {
    background: rgb(38, 55, 82) !important;
}





.Current_Button span,
.OverCurrent_Button span,
.CurrentUnbalanceRatio_Button span,
.LeakageCurrent_Button span,
.Diagram_Info_Button span {
    font-size: 11px;
    font-weight: lighter !important;
    color: lightgrey !important;
}

.Current_Button,
.OverCurrent_Button,
.CurrentUnbalanceRatio_Button,
.LeakageCurrent_Button,
.Diagram_Info_Button {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    height: 25px;
}


.Current_Button:hover,
.OverCurrent_Button:hover,
.CurrentUnbalanceRatio_Button:hover,
.LeakageCurrent_Button:hover,
.Diagram_Info_Button:hover,
.OverCurrentTrendCurve_Button:hover {
    background: rgb(22, 42, 69) !important;
}

.apexcharts-legend-text {
    color: white !important;
}

.Temperature_Card,
.CurrentUnbalanceRatio_Card,
.LeakageCurrent_Card,
.Current_Card,
.AccumulatedOperatingTime_Card,
.OverCurrent_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    height: 350px;
}

.ant-menu-submenu-active,
.ant-menu-item-active {
    background-color: #1677FF !important;
}

.ant-menu-title-content a {
    color: white !important;
}

.ant-layout-sider-trigger svg {
    color: white;
}

.Diagram_Info_Col {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    height: 75px !important;
    border-radius: 5px;
}

.Diagram_Info_Col p,
span {
    font-size: 13px;
}

.OverCurrentTrendCurve_Warning_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    margin-top: 20px;
    background-color: transparent;
}

.OverCurrentTrendCurve_Card {
    box-shadow: 0px 0px 10px 2px rgb(22, 42, 69) !important;
    margin-top: 20px;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
}

.OverCurrentTrendCurve_Title {
    color: white;
    font-size: 20px;
}

.OverCurrentTrendCurve_Warning_Card span {
    color: white !important;
}

.OverCurrentTrendCurve_Button span,
svg {
    color: white;
}

.OverCurrentTrendCurve_Button svg {
    margin-top: -3px;
}

