/*************************************************** 전체 폰트 설정 ***************************************************/

* {
    font-family: 'NanumSquareNeoBold';
   
    /*font-family: 'NanumSquareNeoLight';
     font-family: 'NanumSquareNeo';
    font-family: 'NanumSquareNeoExtraBold';
    font-family: 'NanumSquareNeoHeavy';
    */

}

/*************************************************** 전체 폰트 설정 ****************************************************/


/*************************************************** 헤더 (최상단) ****************************************************/
.app-header {
    background: lightgray;
}

/*************************************************** 헤더 (최상단) ****************************************************/




/*************************************************** 컨텐츠 (메인화면) ************************************************/

.app-Content {
    margin: 0 16px;
    padding: 10px 0 10px 0;
}
.ant-card-body{
    background: transparent !important;
}

.app-Content-div {
    padding: 10px !important;
    min-height: 100% !important;
    background: gray;
}

.Main-Top-Info-Row {
    width: auto;
}

.Main-Top-Info1,
.Main-Top-Info2,
.Main-Top-Info3,
.Main-Top-Info4 {
 
    height: 120px;
    display: flex;
}

.Main-Top-Info1-Col1,
.Main-Top-Info2-Col1,
.Main-Top-Info3-Col1,
.Main-Top-Info4-Col1 {
    height: 100%;
    padding: 30px;
    padding-left: 10px !important;
}

.Main-Top-Info1-span,
.Main-Top-Info2-span,
.Main-Top-Info3-span,
.Main-Top-Info4-span {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 17.5px !important;
}

.Main-Top-Info1-p,
.Main-Top-Info2-p,
.Main-Top-Info3-p,
.Main-Top-Info4-p {
    font-size: 15px;
    font-family: 'NanumSquareNeo';

}


.Main-Top-Info1-h1,
.Main-Top-Info2-h1,
.Main-Top-Info3-h1,
.Main-Top-Info4-h1{
    font-size: 29px !important;
}


.Main-Top-Info1-h1 {
    color: #667EFE;
}

.Main-Top-Info2-h1 {
    color: #FDC06E;
}

.Main-Top-Info3-h1 {
    color: #FC3EA5;
}

.Main-Top-Info4-h1 {
    color: #72D1C8;
}

.Main-Center-Content3-Col {
    height: 145px;
}


.Card1,
.Card2,
.Card3,
.Card4,
.Card5 {
    width: 100%;
    height: 100%;
}

.Main-Top-Info1-Col2,
.Main-Top-Info2-Col2,
.Main-Top-Info3-Col2,
.Main-Top-Info4-Col2 {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px !important;
}

.Main-Center-Content-Row {
    padding-top: 10px;
}

.Main-Center-Content1,
.Main-Center-Content2,
.Main-Center-Content3 {
    background-color: transparent;
    height: 580px;
}

.Main-Bottom-Content-Row {
    padding-top: 10px;
}

.Main-Bottom-Content1,
.Main-Bottom-Content2,
.Main-Bottom-Content3 {
    background-color: transparent;
    height: 450px;
}


.Card3-top,
.Card3-middle,
.Card3-bottom {
    height: 180px;
    border-radius: 6px;
    width: 100%;
}

span {
    display: flex;
    align-items: center;
}

span p {
    margin: 5px 0 0 5px;
    /* 필요에 따라 간격 조정 */
}

.Card1-grid-Percent-value {
    color: #FC323C;
}

.Card2-grid-Percent-value {
    color: #7373ff;
}

.Card1-grid-Percent-text,
.Card2-grid-Percent-text,
.Card3-grid-Percent-text,
.Card1-grid-Percent-value,
.Card2-grid-Percent-value,
.Card3-grid-Percent-value {
    font-size: 30px;
    font-family: 'NanumSquareNeoExtraBold';
}

.Card1-grid-text,
.Card2-grid-text,
.Card3-grid-text {
    padding-left: 20px;
    margin-top: 40px;
}
.Card1-grid-Title-text,
.Card2-grid-Title-text{
    font-size: 17px;
    font-family: 'NanumSquareNeoBold';

}

.Card1-grid-Percent-Near-text,
.Card2-grid-Percent-Near-text,
.Card3-grid-Percent-Near-text {
    font-size: 20px;
    font-family: 'NanumSquareNeoExtraBold';
}

/*************************************************** 컨텐츠 (메인화면) *************************************************/




/*************************************************** 푸터 (최하단) ****************************************************/

.app-footer {
    text-align: center;
}

/*************************************************** 푸터 (최하단) ****************************************************/



/*************************************************** 컴포넌트들  ****************************************************/


.table1 th,
td,
.table2 th,
td,
.table3 th,
td {
  padding-left: 15px;
  /* 원하는 간격으로 조정 */
}

.table1 th,
.table2 th,
.table3 th {
  padding-bottom: 5px;
}

.table1 td,
.table2 td,
.table3 td {
  padding-bottom: 15px;
}

.ant-table-thead th {
  text-align: center !important;
}

.ant-table-cell {
  padding: 5px 5px !important;
  font-size: 13px !important;
  text-align: center;
}



/*************************************************** 컴포넌트들  ****************************************************/